<a class="btn btn-info" href="#">Search Properties</a>
<br>
<br>
<br>
<ul class="nav nav-tabs">
  <li class="active">
  	<a href="#">Posts</a>
  </li>
  <li>
    <a href="#">Clients</a>
  </li>
  <li>
  	<a href="#">Favorites</a>
  </li>
</ul>