<h2> Agent Welcome Page </h2>
<hr>
<h3> How It Works </h3>
<p>
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur condimentum tempus sapien, at egestas risus ornare vitae. Nulla viverra iaculis libero, eu egestas elit iaculis sit amet. Morbi ac luctus eros. Nulla adipiscing feugiat volutpat. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc ultrices enim eu elit vehicula sit amet rutrum dui laoreet. Suspendisse scelerisque luctus neque nec tincidunt. Donec mi neque, mollis varius euismod vel, dictum quis sem. Etiam eros dolor, convallis eget faucibus eget, scelerisque dictum augue. Etiam euismod, mauris ac pharetra pulvinar, mi nunc interdum nulla, eget auctor nisl libero ac velit. Integer vestibulum laoreet ante imperdiet vulputate. Duis et justo tellus, sit amet aliquet neque.

</P>
<hr>
<!-- Post Share Search -->
<div class="row-fluid">
  <div class="span4">
    <h2>Post for Client</h2>
    <p>Provide your client's dream home criteria to current homeowners.</p>
  </div>
  <div class="span4">
    <h2>Search</h2>
    <p>Find "every" home in your home search not just the properties "on the market"</p>
  </div>
  <div class="span4">
    <h2>Trends</h2>
    <p>See activity and what's going on in an area</p>
  </div>
</div>
<div class="row-fluid">
  <div class="span4">
<a class="btn btn-large btn-info" href="/posts/new" >Post</a>
  </div>
  <div class="span4">
<a class="btn btn-large btn-info" href="/agents/welcome" >Search</a>
  </div>
  <div class="span4">
<a class="btn btn-large btn-info" href="/agents/welcome" >Trends</a>
  </div>
</div>