<table class="table table-striped">

	<tr>
		<th>State</th>
		<th>City</th>
		<th>Property Location</th>
		<th>Square Feet</th>
		<th><%= "#{Time.now.year - 1} Taxes"%></th>		
		<th>Net Taxable Value</th>
		<th>Tag</th>
	</tr>

 	
</table>