<ul class="dropdown-menu">
	<li><%= link_to 'Posts', root_path %></li>
	<li><%= link_to 'Favorites', root_path %></li>
	<li><%= link_to 'Account Settings', edit_user_registration_path %></li>
	<li><%= link_to "Logout", destroy_user_session_path, method: :delete %></li>
</ul>